<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Bookborrowingdayslimit:</strong>
  <%= @library.bookBorrowingDaysLimit %>
</p>

<p>
  <strong>Overduefine:</strong>
  <%= @library.overdueFine %>
</p>

<%- if admin_signed_in? or librarian_signed_in? %>
            <%- if librarian_signed_in? %>
                <%- if current_librarian.library.id == @library.id %>
                        <%= link_to 'Edit', edit_library_path(@library) %>
                <% end  %>
            <%- else %>
		<%= link_to 'Edit', edit_library_path(@library) %>
	    <% end %>
<% end %>	 
<%= link_to 'Back', libraries_path %>
