<h1>Welcome <b><%= current_admin.name  %></b></h1>
<br />
<br />

<ul>
<li> <%= link_to "Edit Profile", edit_admin_registration_path()  %> </li>
<li> <%= link_to "View Books", books_path()  %> </li>
<li> <%= link_to "View Libraries", libraries_path()  %> </li>
<li> <%= link_to "View Librarians", librarians_path()  %> </li>
<li> <%= link_to "View Students", students_path()  %> </li>
<li> <%= link_to "View Universities", universities_path()  %> </li>
<li> <%= link_to "View Programs", programs_path()  %> </li>
</ul>

<br />
<br />

