<h1>Welcome <b><%= current_librarian.name  %></b></h1>
<br />
<br />

<ul>
<li> <%= link_to "Edit Profile", edit_librarian_registration_path()  %> </li>
<li> <%= link_to "View Books", books_path()  %> </li>
<li> <%= link_to "View Libraries", libraries_path()  %> </li>
</ul>

<br />
<br />
<h3>Checked Out Books List :- </h3>
<%= render "book_histories/display_book_history" %>

<br />
<br />

