<h1>Welcome <b><%= current_librarian.name  %></b></h1>
<br />
<br />

<ul>
<li> <%= link_to "Edit Profile", edit_librarian_registration_path()  %> </li>
<li> <%= link_to "View Books", books_path()  %> </li>
<li> <%= link_to "View Libraries", libraries_path()  %> </li>
</ul>

<br />
<br />

<h3>Checked Out Books List :- </h3>
<%= render "book_helper/display_book_history" %>
<br />
<h3>Pending Special Collection Books Requests List :- </h3>
<%= render partial: "book_helper/display_pending_hold_requests", locals: {book_hold_request_list: @book_special_requests} %>
<br />
<h3>Books Hold Requests List :- </h3>
<%= render partial: "book_helper/display_pending_hold_requests", locals: {book_hold_request_list: @book_hold_trackers} %>
<br />
<br />
