<h1>Welcome <b><%= current_student.name  %></b></h1>
<br />
<br />

<ul>
<li> <%= link_to "Edit Profile", edit_student_registration_path()  %> </li>
<li> <%= link_to "View Books", books_path()  %> </li>
<li> <%= link_to "View Libraries", libraries_path()  %> </li>
<li> <%= link_to "View CheckedOutBooks", book_histories_path()  %> </li>
</ul>

<br />
<br />
