<h1>Welcome <b><%= current_student.name  %></b></h1>
<br />
<br />

<ul>
<li> <%= link_to "Edit Profile", edit_student_registration_path()  %> </li>
<li> <%= link_to "View Books", books_path()  %> </li>
<li> <%= link_to "View Libraries", libraries_path()  %> </li>
</ul>


<% if current_student.overdueFromReturnedBooks.present? %>
  <th>Overdue Fine: <%= current_student.overdueFromReturnedBooks%></th>
<%end%>

<th><%= link_to "View my Bookmarks", bookmarks_path %></th>

<br />
<br />
<h3>Checked Out Books List :- </h3>
<%= render "book_histories/display_book_history" %>
<br />
<br />
