<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Specialcollection:</strong>
  <%= @book.specialCollection %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>

<%#- if current_student.present? && current_student.university_id == @book.Library.university_id %>
  <p>
    <strong>Hold Count:</strong>
    <%= @book.hold_book_trackers.count %>
  </p>
<%# end  %>

<%- if student_signed_in?%>
  <%- if current_student.university_id == @book.library.university_id %>
	<%- if @book.available > 0 and !@book.specialCollection%>	
    		<p>
      			<%= link_to 'Checkout/Reserve', { :controller => :books, :action => :placeCheckoutRequest, :id => @book.id}, :method => :post %>
    		</p>
	<% else %>
		<p>
			<%- if @book.specialCollection %>
				<span>Book is from Special Collection!!(Needs Librarian Approval)</span>
			<% else %>
				<span>Book is out of stock!!(Place hold request) </span>	
			<%= link_to 'Request Hold', { :controller => :books, :action => :placeHoldRequest, :id => @book.id}, :method => :post %>
			<% end %>
		</p>
	<% end %>
  <% end %>
<% end %>


<%- if admin_signed_in? or librarian_signed_in? %>
        <%- if librarian_signed_in? %>
                <%- if current_librarian.library.id == @book.library.id %>
                        <%= link_to 'Edit', edit_book_path(@book) %>
                <% end  %>
        <%- else %>
                <%= link_to 'Edit', edit_book_path(@book) %>
        <% end %>
<% end %>

<%= link_to 'Back', books_path %>
