<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Image:</strong>
  <% if @book.cover.attached? %> <img src="<%=url_for(@book.cover) %>" height="60" width="40" /> <%end%>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Specialcollection:</strong>
  <%= @book.specialCollection %>
</p>

<p>
  <strong>Returndate:</strong>
  <%= @book.returnDate %>
</p>

<%#- if current_student.present? && current_student.university_id == @book.Library.university_id %>
  <p>
    <strong>Hold Count:</strong>
    <%= @book.hold_book_trackers.count %>
  </p>
<%# end  %>

<!--    Plus another condition that if available books count is more than 0.-->
<%- if student_signed_in?%>
  <%- if current_student.university_id == @book.library.university_id %>
    <p>
      <%= link_to 'Checkout/Reserve', { :controller => :books, :action => :placeCheckoutRequest, :id => @book.id}, :method => :post %>
    </p>
  <% end %>
<% end %>

<!--  Plus another condition that if available books count is 0.-->
<%- if student_signed_in?%>
  <%- if current_student.university_id == @book.library.university_id %>
    <%= link_to 'Request Hold', {:controller => :books, :action => :placeHoldRequest, :id => @book.id}, :method => :post %>
  <% end %>
<% end %>

<%- if student_signed_in?%>
  <%- if current_student.university_id == @book.library.university_id %>
    <p>
      <%= link_to 'Add to Wish List', { :controller => :books, :action => :addToWishList, :id => @book.id}, :method => :post %>
    </p>
  <% end %>
<% end %>

<%- if admin_signed_in? or librarian_signed_in? %>
        <%- if librarian_signed_in? %>
                <%- if current_librarian.library.id == @book.library.id %>
                        <%= link_to 'Edit', edit_book_path(@book) %>
                <% end  %>
        <%- else %>
                <%= link_to 'Edit', edit_book_path(@book) %>
        <% end %>
<% end %>

<%= link_to 'Back', books_path %>
