
<%- if librarian_signed_in? or admin_signed_in? %>
<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Title</th>	
      <th>Requested By</th>
      <th>Requested Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% book_hold_request_list.each do |book_hold_tracker| %>
      <tr>
        <% if book_hold_tracker.book.present? %>
                <td><%= book_hold_tracker.book.ISBN %></td>
				<td><%= book_hold_tracker.book.title %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><% if book_hold_tracker.student.present? %> <%= book_hold_tracker.student.name%><%else%><%= book_hold_tracker.student_id %><%end%></td>
        <td><%= book_hold_tracker.created_at.to_date %></td>
        <td>
          <%- if librarian_signed_in? and book_hold_tracker.book.present? and book_hold_tracker.book.specialCollection %>
			<%= link_to 'Accept',{ :controller => :librarians, :action => :handleSpecialCollectionRequest, :book_id => book_hold_tracker.book.id, :student_id => book_hold_tracker.student.id, :approve => true}, :method => :post  %>
			<%= link_to 'Deny',{ :controller => :librarians, :action => :handleSpecialCollectionRequest, :book_id => book_hold_tracker.book.id, :student_id => book_hold_tracker.student.id, :approve => false}, :method => :post  %>
		  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
